:root {
    --pink-lace: #f5cce8;
    --plum-web: #EC9DED;
    --middle-purple: #C880B7;
    --pearly-purple: #9F6BAD;
    --dark-purple: #4a2040;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-width: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    background: var(--dark-purple);
    padding: 2rem;
}
.quote-wrapper{
    background: #FFF;
    border-radius: 20px;
    padding: 4rem 1.5rem;
    --webkit-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0,1);
    box-shadow: 0 2px 15px -5px white;
}
.quote-wrapper h2{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.quote-wrapper small{
    font-weight: 700;
    padding: 0.2rem 1rem;
    color: var(--dark-purple);
    border-radius: 5px;
    text-transform: capitalize;
}
.quote-wrapper blockquote{
    padding: 1.4rem 0;
    font-weight: 300;
}
.quote-wrapper cite{
    display: block;
    font-size: normal;
    margin-bottom: 1rem;
}
#gen-quote-btn{
    font-size: 1.1rem;
    border: none;
    background-color: var(--dark-purple);
    color: #fff;
    padding: 0.7rem 1.2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    outline: none;
}
#gen-quote-btn:hover{
    background-color: blueviolet;
    box-shadow: 0px 2px 15px 5px black;
}